# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv
venv/
ENV/
env/
.env

# Django
*.log
db.sqlite3
temp_downloads/
staticfiles/
*.pyc

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Temporary
*.tmp
*.bak
